.intro {
   text-align: center;
}

.intro__slogan {
   letter-spacing: 0.3px;

   p {
      display: inline;
      font-weight: 700;
      line-height: 20px;
   }

   span {
      position: relative;
      font-weight: 400;

      &::after {
         position: absolute;
         content: "";
         background-image: url('../img/arrow.svg');
         background-repeat: no-repeat;
         background-position: center center;
         background-size: cover;
         width: 11.86px;
         height: 9.05px;
         left: 140px;
         top: 6px;
      }
   }
}

.intro__top {
   padding: 21px 0px 21px 0px;
   background-color: #D3F1F3;
}

.info {
   padding: 34px 0px 0px 0px;
   background-image: url('../img/bg.webp');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;


   @media (max-width: $md1 +px) {
      background-position: top left;
   }

   @media (max-width: $md2 +px) {
      background-position: -100px 0px
   }

   @media (max-width: $md3 +px) {
      background-position: -184px 0px;
   }

   @media (max-width: $md4 +px) {
      background-position: -280px 0px;
   }
}

.main__title {
   display: block;
   width: 34%;
   margin: 0 auto;
   padding: 0px 0px 12px 0px;
   font-size: 40px;
   font-weight: 700;
   line-height: 48px;
   transform: translateY(-50px);
   opacity: 0;


   @media (max-width: $md2 +12.02px) {
      width: 50%;
   }

   @media (max-width: $md3+177.02px) {
      width: 60%;
   }

   @media (max-width: $md4+49.02px) {
      width: 80%;
   }
}

.main__descr {
   display: block;
   padding: 0px 0px 0px 0px;
   font-size: 27px;
   line-height: 40px;
   transform: translateY(-50px);
   opacity: 0;
}

.form-intro {
   padding: 316px 0px 41px 0px;
   transform: translateY(-50px);
   opacity: 0;
}

.input-intro {
   margin: 0px 27px 0px 0px;
   padding: 13px 118px 13px 22px;
   font-size: 16px;
   line-height: 20px;
   color: #00000033;

   @media (max-width: $md4 + 10px) {
      margin: 0px 0px 10px 0px;
   }

}

.button {
   background-color: $button;
   color: $whiteColor;
   transition: all 0.3s linear;


   &:hover {
      background-color: #0a0131;
   }
}

.sign {
   padding: 15px 26px;
}

.title {
   transform: translateY(-50px);
   opacity: 0;
}


.element-show {
   transition: all 1s ease;
   opacity: 1;
   transform: translateY(0px);
}