.slideer {
   padding: 0px 0px 142px 0px;
   background-image: url('../img/bg2.webp');
   background-repeat: no-repeat;
   background-position: 0px 0px;
   background-size: cover;
   height: 100%;

   @media (max-width: $md2 +12.02px) {
      background-position: -200px center;
   }

   @media (max-width: $md3 +12.02px) {
      background-position: -100px -80px;
   }

   @media (max-width: $md4 +20.02px) {
      background-position: -100px -150px;
   }
}

.rr {
   padding: 0px 10px;
}

.slider__title {
   width: 24%;
   display: block;
   margin: 0 auto;
   padding: 111px 0px 279px 0px;
   font-size: 40px;
   font-weight: 700;
   line-height: 48px;
   text-align: center;

   @media (max-width: $md1 +12px) {
      width: 40%;
   }

   @media (max-width: $md2 +1px) {
      width: 60%;
   }

   @media (max-width: $md3 +1px) {
      padding: 51px 0px 279px 0px;
   }

   @media (max-width: $md4 +78.02px) {
      width: 85%;
   }
}

._reviews__logo {
   padding: 10px 0px 0px 0px;
   margin: 0px 48px 0px 18px;
}

.inf {
   padding: 0px 0px 0px 0px;
}

.gg {
   display: flex;
   @media (max-width: $md4 +120.02px) {
      flex-direction: column;
   }
}

._reviews__comment {
   width: 65%;
   padding: 0px 0px 17px 0px;
   font-size: 21px;
   font-weight: 700;
   line-height: 42px;

   @media (max-width: $md1 +12.02px) {
      width: 60%;
   }

   @media (max-width: $md3 +166.02px) {
      width: 50%;
   }

   @media (max-width: $md3 +12.02px) {
      width: 31%
   }

   @media (max-width: $md4 +120.02px) {
      width: 6%;
   }
}

._reviews__adress {
   font-size: 18px;
   line-height: 28px;
}