.fairs {
   padding: 111px 0px;
   background-color: #F3E02B;
   text-align: center;
}

.fairs__title {
   padding: 0px 0px 41px 0px;

   @media (max-width: ($md2 +87.02px)) {
      width: 80%;
   }
}

.fairs__descr {
   padding: 0px 0px 79px 0px;

   @media (max-width: ($md4 +28.02px)) {
      width: 80%;
   }
}

.fairs__button {
   padding: 18px 28px;
}