.career {
   padding: 111px 0px;

   @media (max-width: $md3 +2.02px) {
      padding: 80px 0px 0px 0px;
   }
}

.career__main {
   background-image: url('../img/bg3.png');
   background-repeat: no-repeat;
   background-position: left top;
   background-size: cover;
   height: 600px;

   @media (max-width: $md2 +132.02px) {
      background-position: -180px 0px;
   }

   @media (max-width: $md3 +32.02px) {
      background-position: center top;
      height:250px;
   }
}

.career__title {
   width: 36%;
   display: block;
   margin: 0 auto;
   padding: 0px 0px 100px 0px;
   font-size: 40px;
   font-weight: 700;
   line-height: 48px;
   text-align: center;


   @media (max-width: $md1 +8.02px) {
      width: 50%;
   }

   @media (max-width: $md2 +8.02px) {
      width: 60%;
   }

   @media (max-width: $md3 +32.02px) {
      padding: 0px 0px 50px 0px;
   }

   @media (max-width: $md4 +204.02px) {
      width: 100%;
   }
}

.career__partners {
   width: 500px;
   height: 474px;
   position: relative;
   top: 80px;
   left: 80px;
   background-color: $whiteColor;

   @media (max-width: $md2 +132.02px) {
      left: 40px;
   }

   @media (max-width: $md3 +32.02px) {
      display: none;
   }

}

._partners {
   display: none;

   @media (max-width: $md3 +32.02px) {
      display: block;
      width: 100%;
      height: 474px;
      background-color: $whiteColor;
   }
}

._info {
   display: flex;
   flex-direction: column;
   align-items: center;
}

._info__jobs {
   padding: 71px 69px 59px 69px;
   font-size: 22px;
   line-height: 32px;
   text-align: center;

   @media (max-width: $md4 +2.02px) {
     padding: 30px 10px;
   }
}