.mobile-app {
   padding: 93px 0px 0px 0px;
   background: #EBEEF3;
   background-image: url('../img/mobile.webp');
   background-repeat: no-repeat;
   background-position: 511px 342px;

   @media (max-width: ($md3 +32.02px)) {
      padding: 60px 0px 0px 0px;
      background-position: 80px 600px;
   }

   @media (max-width: ($md4 +2.02px)) {
      padding: 40px 0px 0px 0px;
      background-position: -30px 600px;
   }
}

.mobile-app__title {
   padding: 0px 0px 35px 0px;
}

.mobile-app__descr {
   padding: 0px 0px 137px 0px;
   width: 40%;

   @media (max-width: ($md3 +100.02px)) {
      width: 70%;
      padding: 0px 0px 87px 0px;
   }

   @media (max-width: ($md4 +10.02px)) {
      padding: 0px 0px 87px 0px;
      width: 90%;
   }
}

.mobile-app__apps {
   padding: 8px 10px 187px 10px;
   margin-left: 83px;
   display: flex;

   @media (max-width: ($md3 +42.02px)) {
      padding: 8px 10px 500px 10px;
      margin: 0px 0px 0px 0px;
      @include column-center;
   }
}

.appstore {
   margin-right: 40px;

   @media (max-width: ($md3 +32.02px)) {
      position: relative;
      left: 20px;
      margin-bottom: 20px;
   }
}