//Подключение шрифта
@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff2") format("woff2"),
		url("../fonts/#{$file_name}.woff") format("woff");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}

//Подключение шрифта

//Псевдоэлементы (::before,::after)

@mixin pseudo-element($content: '', $display: block, $pos: absolute) {
	content: $content;
	display: $display;
	position: $pos;
}
//Псевдоэлементы (::before,::after)


@mixin center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin center-end {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

@mixin column-center {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

@mixin start-between {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

@mixin center-between {
	display: flex;
	align-items: center;
	justify-content: space-between;
}


@mixin background-image{
	background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
}
